/* cyrillic-ext */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/rFGHhFPYIVvC08PGjJIN1_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/CaVdAWGUSxTocbxGJLiki_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/eEAdzx7eU---nbdfQm1E0fY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/h6kfiL-5Ady2K9sB3hOqcw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


html, body {
  color: green;
  height: 100%;
  font-family: "PT Mono" monospace;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
  width: 100%; }


html {
  background: #222222;
  overflow: hidden;
  position: relative; }

body {
  background: black;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; }
  body > * {
    display: block;
    margin-bottom: 0.5em;
    position: relative;
    padding-left: 1.5em; }
    /* line 59, ../scss/base/_elements.scss */
    body > *:before {
      content: ">: ";
      left: 0;
      position: absolute;
      top: 0; }
    body > div:before {
      content: "";
      }

/* line 68, ../scss/base/_elements.scss */
::-webkit-scrollbar {
  width: 10px; }

/* line 72, ../scss/base/_elements.scss */
::-webkit-scrollbar-track {
  background-color: #001a00; }

/* line 76, ../scss/base/_elements.scss */
::-webkit-scrollbar-thumb {
  background-color: green; }

/* line 80, ../scss/base/_elements.scss */
::-webkit-scrollbar-button {
  background-color: #004d00; }

/* line 84, ../scss/base/_elements.scss */
::-webkit-scrollbar-corner {
  background-color: black; }

/* line 88, ../scss/base/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1em; }

/* line 93, ../scss/base/_elements.scss */
a {
  color: #00e600; }
  /* line 95, ../scss/base/_elements.scss */
  a:hover, a:focus {
    color: #00e600; }
